@import "../../../sass/mixins.scss";

.mobile-view {
  display: none;
  text-align: center;
  margin-top: 30px;
  @include breakpoint-mobile {
    display: flex;
  }
  .text-styles {
    font: normal normal 600 16px/22px Poppins;
    letter-spacing: 0.25px;
    color: #000000;
    cursor: pointer;
    padding: 10px
  }
  .link {
    text-decoration: none;
    color: black;
    :hover {
      color: blue;
    }
  }
  .navbar-header {
    width: max-content;
    margin: auto;
  } 
  .pixel-questions {
    padding: 0;
    margin: 0;
    line-height: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
  }
}