@import "../../../sass/mixins.scss";

.fa {
    padding: 7px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    margin: 5px 5px;
  }
  .fa:hover {
      opacity: 0.5 !important;
      color: white !important;
  }
  .fa-twitter {
    background: black;
    color: white;
  }
  
  .fa-facebook {
    background: black;
    color: white;
  }
  
  .fa-instagram {
    background: black;
    color: white;
  }