@import "../../../sass/mixins.scss";


.pixel-contest {
  h1 {
    font-size: 1.5rem;
  }
  @include breakpoint-mobile {
    flex-direction: column-reverse;
    text-align: center;
  }
}

button {
  width: 150px;
  font-family: 'Poppins';
  height: 40px;
  border: none;
  background: #BEE0F5;
  border-radius: 5px;
}