@import "../../../sass/mixins.scss";

.student-image {
  background-image: url("../../../asset/student-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-clip: content-box;

}