@import "../../../sass/mixins.scss";

.landing-page {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.student-image {
  background-image: url("../../../asset/student-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-clip: content-box;

}