@import "../../sass/mixins.scss";

.pixelmath-header {
  justify-content: 'flex-end' !important;
  width: 80%;
  margin: auto;
  .MuiDrawer-paper{
    width: 70% !important;
  }
  .MobileShow {
    top:0;
    right:0;
    z-index:1000;
    @include breakpoint-mobile {
      display: flex !important;
      position:fixed!important;
    }
    @include breakpoint-mobile-small {
      display: flex !important;
      position:fixed!important;
    }
  }
  
  .marginDrawer {
    @include breakpoint-mobile {
      margin: 80px 0 !important;
    }
    @include breakpoint-mobile-small {
      margin: 50px 0 !important;
    }
  }
  .headerClass {
    @include breakpoint-mobile {
      display: none !important;
    }
    @include breakpoint-mobile-small {
      display: none !important;
    }
  }
}