@import "../../sass/mixins.scss";

.pixel-download {
  background-image: url("../../asset/download-background-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;
  @include breakpoint-mobile {
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .download-text {
    h2 {
      font-weight: bold;
      font-family: "Poppins";
    }
  }
  .download-image {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    button {
      width: 150px;
      font-family: 'Poppins';
      height: 40px;
      border: none;
      background: #BEE0F5;
      border-radius: 5px;
    }
    .android-image {
      @include breakpoint-tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .iphone-image {
      @include breakpoint-tablet {
        display: none;
      }
    }
  }
}

.text-aglinments {
  @include breakpoint-mobile {
    padding: 20px;
    text-align: center;
  }
}
.text-aglinments1 {
  padding: 0;
  margin: 0;
  line-height: 10px;
  @include breakpoint-mobile {
    text-align: center;
    margin-bottom: 10px;
  }
}